state-dir: "{{ sensu_backend.state_dir }}"
agent-port: "{{ sensu_backend.agent.port }}"
api-listen-address: "[::]:{{ sensu_backend.api.port }}"
api-url: "{{ sensu_backend.api.url }}"
dashboard-port: "{{ sensu_backend.dashboard.port }}"
log-level: "error"
